nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar{
  width: 95%;
}

#navbar img{
  margin-right: 0.5rem;
}

#logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

